*{
    color: #144A69;
    font-weight: bolder;
}

#time{
    font-size: 2rem;
}


.Weather_container {
    text-align: center;
}

@media all and (min-width: 760px) {
    #time{
        font-size: 3.5rem;
    }
}