.Actual_weather_container {
    background-color: #1E213A;
    height: 100vh;
}
.Header {
    display: flex;
    justify-content: space-between;
}
.Future_weather_container{
    background-color: #100E1D;
    height: 100vh;
}
#search-bar{
    color: #100E1D;
}
#list-cities{
    color: #100E1D;
}
.li-city{
    color: #100E1D;
}